#board-grid {
    -fx-background-image: url(file:res/textures/board.png);
    -fx-pref-height: 500;
    -fx-pref-width: 500;
}

#menu-bar {
    -fx-pref-height: 30;
    -fx-alignment: center-left;
}

#grid-button {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
}

#grid-button:hover {
    -fx-background-color: #AAAAAAAA;
    -fx-border-color: black;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}